Package: com.imokhles.SpotTweaks
Name: SpotTweaks
Depends: mobilesubstrate, am.theiostre.searchloader
Version: 0.2.rc
Architecture: iphoneos-arm
Description: An awesome SpotLight tweak!
Maintainer: iMokhles
Author: iMokhles
Section: Tweaks
Depiction: http://pixelfiredev.com/repo/depictions/?p=com.imokhles.spottweaks
